In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import plotly.express as px
import plotly.graph_objects as go
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

In [2]:
df =pd.read_csv("../database/energydata.csv")

In [3]:
x=df[["T2"]]

In [4]:
x

              T2
0      19.200000
1      19.200000
2      19.200000
3      19.200000
4      19.200000
...          ...
19730  25.890000
19731  25.754000
19732  25.628571
19733  25.414000
19734  25.264286

[19735 rows x 1 columns]

In [6]:
y=df[["T6"]]

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=1)

In [8]:
reg = LinearRegression()

In [9]:
model = reg.fit(x_train, y_train)

In [10]:
predicted_value = model.predict(x_test)

In [11]:
predicted_value

array([[ 3.36810969],
       [ 9.26944595],
       [14.4817373 ],
       ...,
       [ 6.05760757],
       [ 9.46578671],
       [ 7.39124288]])

In [12]:
r_square =r2_score(y_test, predicted_value)
round(r_square,2)

0.65

In [16]:
df.head(2)

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.7900,19.79,44.73,19.0,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.7225,19.79,44.79,19.0,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195

In [17]:
new = df.drop(["date", "lights" ], axis=1)

In [18]:
scaler = MinMaxScaler()

In [21]:
new

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,60,19.890000,47.596667,19.200000,44.790000,19.790000,44.730000,19.000000,45.566667,17.166667,...,17.033333,45.5300,6.600000,733.5,92.000000,7.000000,63.000000,5.300000,13.275433,13.275433
1,60,19.890000,46.693333,19.200000,44.722500,19.790000,44.790000,19.000000,45.992500,17.166667,...,17.066667,45.5600,6.483333,733.6,92.000000,6.666667,59.166667,5.200000,18.606195,18.606195
2,50,19.890000,46.300000,19.200000,44.626667,19.790000,44.933333,18.926667,45.890000,17.166667,...,17.000000,45.5000,6.366667,733.7,92.000000,6.333333,55.333333,5.100000,28.642668,28.642668
3,50,19.890000,46.066667,19.200000,44.590000,19.790000,45.000000,18.890000,45.723333,17.166667,...,17.000000,45.4000,6.250000,733.8,92.000000,6.000000,51.500000,5.000000,45.410389,45.410389
4,60,19.890000,46.333333,19.200000,44.530000,19.790000,45.000000,18.890000,45.530000,17.200000,...,17.000000,45.4000,6.133333,733.9,92.000000,5.666667,47.666667,4.900000,10.084097,10.084097
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19730,100,25.566667,46.560000,25.890000,42.025714,27.200000,41.163333,24.700000,45.590000,23.200000,...,23.200000,46.7900,22.733333,755.2,55.666667,3.333333,23.666667,13.333333,43.096812,43.096812
19731,90,25.500000,46.500000,25.754000,42.080000,27.133333,41.223333,24.700000,45.590000,23.230000,...,23.200000,46.7900,22.600000,755.2,56.000000,3.500000,24.500000,13.300000,49.282940,49.282940
19732,270,25.500000,46.596667,25.628571,42.768571,27.050000,41.690000,24.700000,45.730000,23.230000,...,23.200000,46.7900,22.466667,755.2,56.333333,3.666667,25.333333,13.266667,29.199117,29.199117
19733,420,25.500000,46.990000,25.414000,43.036000,26.890000,41.290000,24.700000,45.790000,23.200000,...,23.200000,46.8175,22.333333,755.2,56.666667,3.833333,26.166667,13.233333,6.322784,6.322784
19734,430,25.500000,46.600000,25.264286,42.971429,26.823333,41.156667,24.700000,45.963333,23.200000,...,23.200000,46.8450,22.200000,755.2,57.000000,4.000000,27.000000,13.200000,34.118851,34.118851

In [23]:
normalised_new = pd.DataFrame(scaler.fit_transform(new), columns=new.columns)

In [24]:
featured_new = normalised_new.drop(columns=['Appliances'])

In [25]:
target = normalised_new["Appliances"]

In [27]:
x_train, x_test, y_train, y_test = train_test_split(featured_new, target, test_size=0.3, random_state=42)

In [43]:
reg = LinearRegression()

In [44]:
model_one = reg.fit(x_train, y_train)

In [45]:
predicted_value_one = model_one.predict(x_test)

In [47]:
mae = mean_absolute_error(y_test, predicted_value_one)
round(mae, 2)

2.82

In [37]:
rss_two = np.square(mean_squared_error(y_test, predicted_value_one))

In [38]:
round(rss_two, 2)

173.69

In [39]:
reg_three = Lasso(alpha=0.4)

In [40]:
model_three = reg_three.fit(x_train, y_train)

In [41]:
predict_lasso = model_three.predict(x_test)

In [42]:
predict_lasso

array([ 2.15632497, 10.01096339,  1.87447769, ...,  4.2479284 ,
        8.69814847,  4.98963174])

In [48]:
r_square_three = r2_score(y_test, predict_lasso)

In [49]:
round(r_square, 2)

0.65